[submodule "Carthage/Checkouts/ReactiveKit"]
	path = Carthage/Checkouts/ReactiveKit
	url = ssh://git@github.com/DeclarativeHub/ReactiveKit.git
[submodule "Carthage/Checkouts/Differ"]
	path = Carthage/Checkouts/Differ
	url = ssh://git@github.com/tonyarnold/Differ.git
