#include "Workspace-Universal-Target-Base.xcconfig"

// Packaging
INFOPLIST_FILE = Tests/Info.plist
WRAPPER_EXTENSION = xctest

// Code Generation
ENABLE_BITCODE = NO

HEADER_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR)
FRAMEWORK_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR)

// Disable some known troublesome warnings for the test target, as -Weverything without these exceptions causes errors when importing XCTest
IBA_TEST_WARNING_FLAGS = -Wno-documentation-unknown-command -Wno-incomplete-module -Wno-disabled-macro-expansion -Wno-shadow
WARNING_CFLAGS = $(IBA_WARNING_CFLAGS) $(IBA_TEST_WARNING_FLAGS)

// -Wno-partial-availability warns about API that is potentially only partially available on the current SDK and minimum target. We hit this because we compile and test against iOS 9.x, yet have a minimum target of iOS 8.
WARNING_CFLAGS[sdk=iphone*] = $(IBA_WARNING_CFLAGS) $(IBA_TEST_WARNING_FLAGS) -Wno-partial-availability
